<footer class="">
    <div class="container px-4">
        <div class="col text-center">
            <p>2023(c)</p>
            <div class="col row">
                <p class="">
                    <a href="/About">About</a>
                </p>
            </div>
        </div>
    </div>
</footer>

@code {

}
