@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>


    <main class="d-flex flex-column">
        <div class="top-row px-4">
            <div class="container">
                <AuthorizeView>
                    <Authorized>
                        <p>Hello, @context.User.Identity.Name</p>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/">Home</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>          
        </div>

        <content class="container py-5 flex-fill">
            @Body
        </content>
       <Footer></Footer>
    </main>
</div>

