@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p>Hello, @context.User.Identity.Name</p>
                    <button class="btn btn-secondary" @onclick="LogOut">LogOut</button>
                </Authorized>
                <Authorizing>
                    <a href="/admin/login" target="_blank">Login</a>
                </Authorizing>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{


    private async Task LogOut()
    {
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).LogOut();
        NavigationManager.NavigateTo("/");
    }
}
