@inject NavigationManager NavigationManager



<div class="d-flex justify-content-center">
    <div class="collg-6 row">
        <h3 class="text-center my-5">Not Found</h3>
       <button class="btn btn-outline-primary" type="button" @onclick="BackToMainPage">Return to main page</button>
    </div>
</div>


@code {


    private void BackToMainPage()
    {
        NavigationManager.NavigateTo("/");
    }
}
