@page "/admin/login"
@attribute [AllowAnonymous]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Login</h3>
<div class="row g-4">
    <input class="" />
    <button class="btn btn-primary" @onclick="TryLogin">Login</button>
</div>


@code {


    public void TryLogin()
    {
        var authenticationStateProviderService = (CustomAuthenticationStateProvider)AuthenticationStateProvider;


         authenticationStateProviderService.UpdateAuthenticationState(AuthConstant.ADMIN);

        NavigationManager.NavigateTo("/admin");
    }
}
